<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/style.css">
  <title>Registro de visitas</title>
</head>

<body>
  <section id="section1">
    <p>Instrucciones</p>
    <video id="video"></video>
    </br>
    <button id="startbutton">Tomar Foto</button>
  </section>

  <section id="section2" class= "ocultar">
    <canvas id="canvas"></canvas>
    <button id="terminar">Registrar</button>
  </section>

  <script src="../js/Cam.js"></script>
</body>

</html>
