<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/style.css">
  <title>Registro de visitas</title>
</head>

<body>
  <div>
    <p>Instrucciones</p>
    <video id="video"></video>
    </br>
    <button id="startbutton">Tomar Foto</button>
  </div>
<div>
<canvas id="canvas"></canvas>
<button id="terminar">Registrar</button>
</div>

<script src="../js/cam.js"></script>
</body>

</html>

