<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registro de visitas</title>
</head>

<body>
  <label for="login-mail">Correo</label>
  <input id="login-mail" type="text">
  <label for="login-password">Contraseña</label>
  <input id="login-password" type="password">
  <button id="login">Ingresar</button>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
  <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
  <script src="../js/loginAdmin.js"></script>
  <script src="../js/mainLogin.js"></script>
  <script src="../js/index.js"></script>
</body>

</html>