<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--BOOTSTRAP-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
  <title>Registro de visitas</title>
</head>

<!-- <body class="tipo cuerpo1">
  <label for="login-mail">Correo</label>
  <input id="login-mail" type="text">
  <label for="login-password">Contraseña</label>
  <input id="login-password" type="password">
  <button id="login">Ingresar</button> -->
  <body class="tipo cuerpo1">
  <section class="formulario">
    <article class="centrado label-registro input-registro">
      <div class="form-group">
        <p class="admin-1">Administrador</p>
        <label for="login-mail">Correo</label>
        <input id="login-mail" class="form-control"type="text">
      </div>
      <div class="form-group">
        <label for="login-password">Contraseña</label>
        <input id="login-password" class="form-control"type="password">
         <button id="login" class="dos ">Ingresar</button>
         <a href="../index.html" class="dos">Regresar</a>

      </div>


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
  <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
  <script src="../js/loginAdmin.js"></script>
  <script src="../js/mainLogin.js"></script>
  <script src="../js/index.js"></script>
</body>

</html>
