<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>registro de visitas</title>
</head>

<body>
  <h1>Regístrate</h1>
  <label for="mail-register">Correo</label>
  <input id="mail-register" type="text">
  <label for="password-register">Contraseña</label>
  <input id="password-register" type="password">
  <button id="send-btn">Enviar</button>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
  <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
  <script src="../js/loginAdmin.js"></script>
  <script src="../js/mainReg.js"></script>
</body>

</html>

<!--Este archivo es el formulario de registro del admin y no se ve en la app-->