

  .title {
    color: #17202A;
    text-align: center;
    margin-top: 20%;
    font-size: 50px;
    font-family: 'Monoton', cursive;
  }

  .row {
    -moz-animation: rotation ease 10s infinite;
    -webkit-animation: rotation ease 10s infinite;
    -ms-animation: rotation ease 10s infinite;
    animation: rotation ease 10s infinite;

  }

  .register {
      margin-top: 15%;
      font-size: 30px;
      text-align: center;
  }


  @-webkit-keyframes rotation {
    0% {
      -webkit-transform: rotate(0deg);
    }
    20% {
      -webkit-transform: rotate(1000deg);
    }
    40% {
      -webkit-transform: rotate(360deg);
    }
  }
  /*FORMULARIO*/
.cuerpo{
  background-image: url("../image/pexels-photo-380768.jpeg");
}
.formulario{
  background-color: white;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: table;
  height: 200px;
  margin-top: 170px;
  width: 50%;
  padding: 38px;
}
.centrado{
  display: table;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

 /*INDEX*/
 .cuerpo1{
   background-image: url("../image/pexels-photo-442574.jpeg");
 }
 .boton-ingreso{
  margin-top: 700px;
  margin-left: auto;
  font-size: 54px;
  color: white;
  margin-right: auto;
  display: block;
  background: black;
  padding: 10px;
}

#miCameraOnline video{
  width:320px;
  height:240px;
  margin:15px;
  float:left;
}
#miCameraOnline canvas{
  width:320px;
  height:240px;
  margin:15px;
  float:left;}
#miCameraOnline button{
  clear:both;
  margin:30px;}
