


  .row {
    -moz-animation: rotation ease 10s infinite;
    -webkit-animation: rotation ease 10s infinite;
    -ms-animation: rotation ease 10s infinite;
    animation: rotation ease 10s infinite;

  }

  .register {
      margin-top: 15%;
      font-size: 30px;
      text-align: center;
  }
  .tipo{
    font-family: 'Roboto', sans-serif;
  }


  .admin-1{
    color: white;
    font-size: 50px;

  }

  /*FORMULARIO*/
  h1{
    color: white;
    margin-top: 35px;
    margin-left: 35px;
  }

.formulario{
  display: block;
  margin-right: auto;
  display: table;
  height: 200px;
  margin-top: 10px;
  padding: 38px;
  margin-left: 130px;
}
.centrado{
  display: table;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
.logo2{
  width: 35%;
  margin: 17px;
  margin-top: 90px;
  margin-left: 50px;
  display: inline-block;
}
.boton-registro{
  background-color: #333;
  border: transparent;
  float: right;
  margin-right: -247px;
  width: 80%;
  height: 45px;
  font-size: 23px;
  margin-top: 10px;
}
.label-registro label{
  margin-top: 10px;
  color: white;
  font-size: 22px;
}
.input-registro input{
  width: 220%;
  height: 43px;
  box-shadow: 2px 11px 28px 0px rgba(51, 51, 51, 0.63);
  margin-bottom: 20px;
}
 /*INDEX*/
 .cuerpo1{
   background-image: url("../image/fondo.jpg");
 }
 .boton-ingreso{
  margin-top: 440px;
  margin-left: auto;
  font-size: 54px;
  color: white;
  margin-right: 150px;
  display: block;
  background: #333333;
  padding: 10px;
  width: 70%;
  box-shadow: 2px 11px 28px 0px rgba(51,51,51,1);
}
.logo{
  width: 35%;
  margin: 17px;
  float: right;
  margin-top: -400px;
  margin-right: 150px;

}

#miCameraOnline video{
  width:320px;
  height:240px;
  margin:15px;
  float:left;
}
#miCameraOnline canvas{
  width:320px;
  height:240px;
  margin:15px;
  float:left;}
#miCameraOnline button{
  clear:both;
  margin:30px;}

  .ocultar{
    display: none;
  }
/*tomar foto*/
.instrucciones{
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 39px 130px;
}
.video{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60%;
  height: 450px;
  background: #ffffff87;
}
.boton-foto{
  background-color: #333;
  border: transparent;
  float: right;
  margin-right: 153px;
  height: 45px;
  font-size: 23px;
  margin-top: 10px;
}
.boton-foto-exito{
  background-color: #333;
  border: transparent;
  height: 45px;
  font-size: 23px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 310px;
}
.ok{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px;
}

.tableta{
  display: block;
}

.boton-registro {
  margin-top: 440px;
  margin-left: auto;
  font-size: 54px;
  color: white;
  margin-right: 150px;
  display: block;
  background: #333333;
  padding: 10px;
  width: 70%;
  box-shadow: 2px 11px 28px 0px rgba(51,51,51,1);
}
.boton-admin{
margin-top: 280px;
margin-left: auto;
font-size: 54px;
color: white;
margin-right: 150px;
display: block;
background: #333333;
padding: 10px;
width: 70%;
box-shadow: 2px 11px 28px 0px rgba(51,51,51,1);
height: 110px;
text-align: center;
}
@media only screen and (min-width: 992px) {


}
@media only screen and (min-width: 1025px) {

}


  .formulario {
    display: block;
    /* vertical-align: middle; */
    margin-left: auto;
    margin-right: 310px;
    margin-top: 70px;
  }
  .dos{
      text-align: center;
      border: 1px solid transparent;
      font-size: 25px;
      border-radius: .25rem;
      background: #333333;
      height: 70px;
      background: #333333;
      width: 50%;
      box-shadow: 2px 11px 28px 0px rgba(51,51,51,1);
      color: white;
  }
